@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&family=Open+Sans:wght@800&family=Poppins:wght@700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}


/* Navber */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div,
ul {
    margin: 20px 150px;
}

nav div {
    display: flex;
    align-items: center;
}

nav div img {
    margin-right: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 32px;
}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
}

.follow i {
    margin: 0 5px;
}

/* Banner section */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px;
}

.banner-details {
    text-align: left;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-image {
    width: 100%;
}

.banner-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.banner-title span {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-description i {
    margin-right: 5px;

}

.buttons {
    margin-top: 40px;
}

.button-primary {
    color: #FFFFFF;
    border-radius: 48px;
    font-size: 24px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 21px 40px;
    margin-right: 24px;
    text-transform: uppercase;
}

.button-secondary {
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    background: #4EC5F7;
    text-transform: uppercase;
}




/* Gamer section */
.gamer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 150px
}

.gamer-image {
    width: 100%;
}

/* .gamer-image img {
    width: 100%;
} */

.gamer-details {
    text-align: right;
}

.gamer-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 24px;
}

.purpose {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}


/* Instant play section */
.instant-1 {
    display: flex;
    align-items: center;
    gap: 120px;
    margin: 100px 150px;
}

.instant-details {
    text-align: center;
    margin-left: 300px;
    margin-right: 200px;
}

.instant-title {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.instant-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.instant-image1 {
    background-image: url("/images/Rectangle\ 55.png");
    background-size: 100%;
    width: 120%;
    height: 650px;
    background-repeat: no-repeat;
}

.upper-image1 {
    width: 50%;
    margin-top: 350px;
    margin-left: -190px;
    border-radius: 8px;

}

.instant-2 {
    display: flex;
    align-items: center;
    gap: 120px;
    margin: 250px 150px;
}

.instant-details {
    text-align: center;
    margin-left: 300px;
    margin-right: 200px;
}

.instant-title {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.instant-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.instant-image2 {
    background-image: url("/images/Rectangle\ 67.png");
    background-size: 100%;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
}

.upper-image2 {
    width: 50%;
    margin-top: 350px;
    margin-left: 520px;
}












@media screen and (max-width:576px) {

    /* nav div,
    ul {
        margin: 1px 10px;
    } */

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-top: 36px;
    }

    /* Banner section */
    .banner {
        flex-direction: column-reverse;
        margin: 10px 10px;
    }

    .banner-details {
        text-align: center;
    }

    .banner-details p {
        text-align: left;
        margin-left: 20%;
    }

    .buttons {
        display: flex;
        width: 100%;
    }

    .button-primary {
        padding: 10px 20px;
    }


    /* Gamer section */
    .gamer {
        margin: 100px 0;
        flex-direction: column;
    }

    .game-image {
        width: 100%;
    }

    .gamer-details {
        text-align: center;
    }

    .gamer-title {
        text-align: center;
    }

    .gamer-description {
        text-align: center;
    }

    .purpose {
        text-align: center;
    }


    /* Instant section */

    .instant-1 {
        flex-direction: column;
        margin: 10px 50px;
        gap: 0;
    }

    .upper-image1 {
        margin-top: 200px;
        margin-left: 0;
    }

    .instant-2 {
        flex-direction: column;
        margin: -120px 20px;
        gap: 0;

    }

    .upper-image2 {
        margin-top: 200px;
        margin-left: 170px;
    }
}